<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476317515684-5mpgvsjbh8tvrhe0nc2a0i7einartn73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476317515684-5mpgvsjbh8tvrhe0nc2a0i7einartn73</string>
	<key>API_KEY</key>
	<string>AIzaSyDq-NBMbxtb-U-ray17VjMzYEdWqSWhjEc</string>
	<key>GCM_SENDER_ID</key>
	<string>476317515684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcomendoza.WorkOutTracker</string>
	<key>PROJECT_ID</key>
	<string>workouttracker-38077</string>
	<key>STORAGE_BUCKET</key>
	<string>workouttracker-38077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476317515684:ios:607353ef349fdbe838cb31</string>
	<key>DATABASE_URL</key>
	<string>https://workouttracker-38077.firebaseio.com</string>
</dict>
</plist>